@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	/* margin: 0;
	padding: 0; */


}

:root {
	--primary: green;
	--secondary: rgb(102, 63, 255);
}

a {
	text-decoration: none !important;
	color: var(--primary) !important;
}